[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
piplining = True

[colors]
highlight = white
verbose = bright blue
warn = bright purple
error = yellow
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan

